<!-- CSS CUSTOM -->
{% load static %}
<link   type="text/x-scss" href="{% static '../static/scss/signup.scss' %}" rel="stylesheet" media="screen">
<form action="#" method="post">
{% csrf_token %}
{form}
  <h2>Login</h2>
		<p>
			<label for="Username" class="floatLabel">Username</label>
			<input id="Username" name="Username" type="text">
		</p>
		<p>
			<label for="password" class="floatLabel">Password</label>
			<input id="password" name="password" type="password">
		
		</p>
	
		<p>
			<input type="submit" value="Login" id="submit">
		</p>
	</form>