
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'pages/signup.scss' %}">

</head>

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-8">Join Accurate Today</legend>
                {{ register_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
			<div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="login">Sign In</a>
            </small>
        </div>
        </form>
        
    </div>
{% endblock content %}