
{% load crispy_forms_tags %}
{% block content %}
{% load static %}


<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'pages/signup.scss' %}">

</head>



<div class="container">
	<div class="row text-center mb-4">
		<div class="col-md-12">
		   
		</div>
	</div>
	<div class="row text-center">
	    <div class="col-md-6 offset-md-3">
	        <div class="card ">
	            <div class="card-body">
	                
	                <div class="login-title">
	                    <h4>Log In</h4>
	                </div>
	                <div class="login-form mt-12">
	                    <form method="POST" >
                        {% csrf_token %}
                        <fieldset class="form-group ">
                            {{ register_form|crispy }}
                            
                        </fieldset>  
                        
                        <div class="form-row">
                            <button type="submit" class="btn btn-danger btn-block">Signup</button>
                        </div>
                    </form>
	                </div>
	                <div class="logi-forgot text-right mt-2">
	                    <a href="{% url 'register' %} >Sign Up Now </a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>

    
{% endblock content %}