<style>
.c-card{
  display: inline-block;
  width: 100%;
  max-width: 1050px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  background: #fff;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}

</style>


{% block content %}
  <article class="media content-section">
    
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ object.name }}</a>
      
          <div>
            
          </div>
       
      </div>
      <h2 class="article-title">{{ object.dosage }}</h2>
      <p class="article-content">{{ object.frequency }}</p>
    </div>
  </article>
{% endblock content %}
